body {
    margin: 0;
}

#app {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.layout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.quadras-container {
    height: 600px;
    width: 600px;
    margin: auto;
    border: 2px black solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.qu {
    /* height: 50%; */
    /* width: 50%; */
    display: inline-block;
}

/* .colorer {
    position: absolute;
    width: 512px;
    height: 512px;
    display: flex;
    margin: auto;
}

.color-value {
    background: #999;
    border: 1px solid #000;
    position: absolute;
    margin: 0;
    width: min-content;
    height: min-content;
} */